// Variables
$primary: #3a0ca3;
$secondary:#ffe899;
$primary-light:#5018d4;
$primary-light-dark:#cad4fa;


$primary-font: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
$secondary-font: 'Times New Roman', serif;
// theme background 
$theme-background-color:#f9f9f9;


// theme text 
$theme-text-color:#0b090a